@import 'eric';
@import 'TwAppsColor';

* {
  box-sizing: border-box;
}

body {
  color: $basic-label-color;
  font-family: 'ヒラギノ角ゴ ProN', '游ゴシック Medium', 'YuGothic', 'YuGothicM', 'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', sans-serif;
}

$image-dir: '../img/';

@import 'mixin';
@import 'components/TwitterApps';
@import 'components/TwAppsHeader';
@import 'components/MuteReminder';
@import 'components/MuterMenu';
@import 'components/MutedUserList';
@import 'components/MutedUserInfo';
@import 'components/UnmuteButton';
@import 'components/ShowTweetButton';
@import 'components/MutedTweet';
@import 'components/MutedTweetList';
@import 'components/LoadingImg';
