.muter-menu {
  background-color: $basic-gray;
  bottom: 0;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 0 50px;
  position: fixed;
  width: 100%;
}

.tweets-count-button {
  @include reset-button;
  background: url($image-dir + 'transparent_eye_icon.svg') center center / contain no-repeat;
  color: $icon-gray;
  font-size: 1.8rem;
  font-weight: bold;
  padding-top: 7px;
}

@include media-forPC {
  .muter-menu {
    border-right: solid 1px $dark-gray;
    display: block;
    height: 100vh;
    left: 0;
    padding: 45px 25px;
    position: fixed;
    top: 50px;
    width: 300px;
  }

  .tweets-count-button {
    background: url($image-dir + 'transparent_eye_icon.svg') right / 35px no-repeat;
    font-size: 2rem;
    padding-right: 8px;

    &::before {
      content: 'チラ見ツイート数';
      font-size: 1.125rem;
      font-weight: bold;
      margin-right: 65px;
      vertical-align: 5px;
    }
  }
}
