.muted-unmute-button {
  @include mobile-mute-button($unmute-button-color);
}

.muted-mute-button {
  @include mobile-mute-button($mute-button-color);
  color: $basic-white;
}

.unmute-icon {
  @include div-icon($image-dir + 'speaker_icon.svg');
}

.mute-icon {
  @include div-icon($image-dir + 'mute_button_icon.svg');
}

@include media-forPC {
  .muted-unmute-button {
    display: none;
  }

  .muted-mute-button {
    display: none;
  }
}
