//==============================================
// カルーセルスタイル
// 基本はstyled-componentsでスタイリングする
// slickを使うのでclass名を設定する必要があるもののスタイル
//==============================================

//==============================================
// slick-carouselのスタイル上書き
//==============================================
.slick-dots {
  bottom: -50px;
  //loginCarouselがWidth120%なのでこちらは100％指定するとずれる
  width: 100vw;
}

.slick-dots li {
  margin: 0 15px;
}

.slick-dots li button:before {
  border: solid 3px $basic-white;
  border-radius: 50%;
  content: '';
  height: 15px;
  opacity: 1;
  width: 15px;
}

.slick-dots li.slick-active button:before {
  background-color: $basic-white;
  opacity: 1;
}


  .slick-dots {
    // 携帯版のみ親要素がw120となり特別
    // それ以外では元の記述に戻す
    width: 100%;
  }
}


@include media-forTablet {
  .slick-dots {
    // 携帯版のみ親要素がw120となり特別
    // それ以外では元の記述に戻す
    width: 100%;
  }
}
