
.pageHeadContainer {
  color: $basic-white;
  background: linear-gradient(to bottom right, #84FAB1, #8FD3F4);
  height: 200px;
  padding: 30px 35px 15px;
  width: 100%;

  &__head {
    font-size: 2.125rem;
    font-weight: $fw-bold;
    margin: 0 auto;
    max-width: 350px;
  }

  &__headLine2 {
    margin-top: 17px;
    text-align: right;
  }

  &__engHead {
    font-family: $eng-head-font;
    font-size: 2.5rem;
    font-weight: $fw-medium;
    text-align: center;
    margin-top: 25px;
  }
}

@include media-forPC {
  .pageHeadContainer {
    height: $pc-header-height;
    padding: 25px 0;

    &__head {
      display: flex;
      font-size: 5.25rem;
      justify-content: center;
      line-height: 140px;
      max-width: none;
    }

    &__headLine2 {
      margin: 0;
    }

    &__engHead {
      font-size: 5.25rem;
      margin: 0;
    }
  }
}

@include media-forTablet {
  .pageHeadContainer {
    &__head {
      font-size: 4rem;
    }
  }
}
