.ReadMore {
  background-color: $muter-green;
  text-align: center;

  &__message {
    color: $basic-white;
    font-size: .875rem;
  }

  &__arrow {
    background: url($image-dir + 'arrow_down.svg') center / contain no-repeat;
    height: 7px;
    margin-top: 5px;
  }
}

@include media-forPC {

  .ReadMore {
    height: $pc-readmore-height;
    padding: 20px;

    &__message {
      font-size: 1.5rem;
    }

    &__arrow {
      height: 15px;
      margin-top: 15px;
    }
  }
}
