.snsAdSection {
  padding: 150px 0;
  text-align: center;

  &__head {
    color: $twitter-blue;
    font-size: 1.625rem;
    font-weight: bold;
  }

  &__paragraph {
    color: $light-label-color;
    font-size: 1.125rem;
    line-height: 2.5;
    white-space: pre-wrap;

    &--first {
      margin-top: 30px;
    }

    &--second {
      margin-top: 45px;
    }

    &--third {
      margin-top: 45px;
    }
  }

  &__SNSList  {
    margin-top: 50px;
  }

  @mixin snsButton {
    @include reset-button;
    border-radius: 5px;
    color: $basic-white;
    cursor: pointer;
    display: block;
    font-size: 1.25rem;
    font-weight: bold;
    height: 50px;
    margin: 40px auto 0;
    width: 180px;

    @include media-forPC {
      display: inline;
      margin: 0 50px;
    }

    @include media-forTablet {
      margin: 0 25px;
    }
  }

  .twitter-share-button {
    @include snsButton;
    background-color: $twitter-blue;
  }

  .line-share-button {
    @include snsButton;
    background-color: $muter-green;
  }

  .facebook-share-button {
    @include snsButton;
    background-color: $facebook-blue;
  }
}


@include media-forPC {
  .snsAdSection {
    padding: 150px 0;
    text-align: center;

    &__head {
      font-size: 3rem;
    }

    &__paragraph {
      font-size: 1.25rem;
      line-height: 3;
      white-space: normal;

      &--first {
        margin-top: 100px;
      }

      &--second {
        margin-top: 0;
      }

      &--third {
        margin-top: 0;
      }
    }

    &__SNSList {
      margin-top: 130px;
    }
  }
}
