
.muted-tweet {
  border-bottom: 1px solid $dark-gray;
  padding: 10px;
  white-space: pre-line;
}

.muted-tweet-text {
  max-width: 1200px;
}

.tweet-media-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  max-height: 121px;
  max-width: 251px;
  overflow: hidden;
}

.tweet-media-item {
  align-items: center;
  display: flex;
  justify-content: center;
  max-height: 60px;
  max-width: 120px;
  overflow: hidden;
}

.tweet-media {
  max-width: 250px;
}

.tweet-info-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px 0;
}

.tweet-count-info {
  display: flex;
}

.retweet-icon {
  @include div-icon($image-dir + 'retweet_icon.svg');
  margin-bottom: 3px;
  margin-right: 8px;
}

.favorite-icon {
  @include div-icon($image-dir + 'favorite_icon.svg');
  margin-right: 8px;
}

.tweet-retweet-count {
  margin-top: 2px;
}

.tweet-favorite-count {
  margin-top: 1px;
}

.open-twitter-link {
  display: block;
}

.twitter-icon {
  background: url($image-dir + 'twitter_icon.svg') center center / contain no-repeat;
  height: 22px;
  width: 26px;
}

.pc-twitter-label {
  display: none;
}

@include media-forNotMobile {
  .muted-tweet {
    font-size: 1.25rem;
    line-height: 1.8rem;
    padding: 50px 100px 15px 250px;
  }

  .tweet-info-container {
    justify-content: flex-start;
    padding: 0;
  }

  .tweet-count-info {
    line-height: 1;
    // ユーザー名コンテナが420px
    // ファボとRTで計２つの情報があるので、半分の横幅にするとTwitterボタンがミュートボタンと合う
    width: 210px;
  }

  .open-twitter-link {
    @include reset-anchor;
    align-items: center;
    background-color: $twitter-blue;
    border-radius: 5px;
    color: $basic-white;
    display: flex;
    font-size: 1rem;
    height: 25px;
    padding-left: 15px;
    width: 165px;
  }

  .twitter-icon {
    background: url($image-dir + 'twitter_white_icon.svg') center center / contain no-repeat;
    height: 18px;
    width: 25px;
  }

  .pc-twitter-label {
    display: inline;
    margin-left: 10px;
  }
}
