.loading-img-container {
  // background: $black-transparent url($image-dir + 'loading_anim.svg') center center / 60px 60px no-repeat;
  align-items: center;
  background-color: $black-transparent;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  height: 80px;
  justify-content: center;
  left: calc(50% - 35px);
  position: fixed;
  top: 50%;
  width: 70px;
}

.loading-img {
  height: 50px;
  width: 50px;
}

.loading-caption {
  color: $basic-white;
  font-size: .8rem;
}
